@{
    ViewBag.Title = "About";
}
<h3>@ViewBag.Message - Team C</h3>
<br/>
<h2>Team Members</h2>
<h4>Owomugisha Birungi</h4>
<h4>Miranda Culpepper</h4>
<h4>Anthony Russo</h4>
<h4>Fabian Valencia</h4>
<h4>John-Paul White</h4>
