@{
    ViewBag.Title = "ACME Contact information";
}
<h2>ACME Contact information</h2>
<h3>@ViewBag.Message</h3>

<address>
    Ace Corporation<br />
    Chicago, IL 60603-6399<br />
    <abbr title="Phone">Phone:</abbr>
    312.333.1234
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@acme.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@acme.com</a>
</address>