@{
	ViewBag.Title = "ABOUT US";

 /******************************************
 * Author: Miranda Culpepper****************
 * Start: 08/07/18**************************
 * Update: XX/XX/18************************* 
 ******************************************/
}
<h2>@ViewBag.Title</h2>


<p>ACME Corp has been working alongside companies to manage financial portfolios in a single space. The use of analytical analyzations have allowed our clients to remain competitive and informed with their stock purchases and financial investments.  Our team of financial investors analyze the market and make informative decisions that cater to each individual portfolio. Through the use of our intuitive software, we make it easy to remain connected and informed with the continuous market changes.</p>
